* {
    margin: 0;
    padding: 0;
}

*,*:focus,*:hover{
    outline:none;
}

html, body {
    overflow: hidden;
    background-color: #353543;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    height: 100vh;
    width: 100vw;
    background-color: #353543;
}
